<%- include('./common/header', { title: 'Create Post' , route: '' }); %>
<div class="box">
  <form action="/posts/create" method="post">
    <div style="color: red; font-size: 16px; margin-bottom: 24px">&nbsp;<%= errMsg %></div>
    <input type="text" id="title" name="title" placeholder="Title" value="<%=post.title%>" />
    <input
      type="text"
      id="subgroup"
      name="subgroup"
      placeholder="Sub Group"
      value="<%=post.subgroup%>"
    />
    <input type="text" id="link" name="link" placeholder="Link" value="<%=post.link%>" />
    <textarea name="description" id="description" cols="30" rows="3" placeholder="Description">
<%=post.description%></textarea
    >
    <input type="submit" value="Create Post" />
  </form>
</div>
