<%- include('./common/header', { title: 'View Post' , route: '' }); %>
<div>
  <h2><%=post.title%></h2>
  <p><%=post.description%></p>
  <p><a href="<%=post.link%>"><%=post.link%></a></p>
</div>
