<%- include('./common/header', { title: 'View Post' , route: '' }); %>
<div class="box">
  <h2>
    <span><%=post.title%></span>
    <% if (post.creator.id === user.id) { %>
    <a
      role="button"
      href="/posts/deleteconfirm/<%=post.id%>"
      style="float: right; margin-left: 16px"
      class="secondary"
    >
      Delete
    </a>
    <a role="button" href="/posts/edit/<%=post.id%>" class="secondary" style="float: right">Edit</a>
    <% } %>
  </h2>
  <p><%=post.description%></p>
  <p><a href="<%=post.link%>"><%=post.link%></a></p>
  <div style="float: right">
    <span style="opacity: 0.7; font-size: 16px">
      <%=post.creator.uname %> created on <%= new Date(post.timestamp).toLocaleString("en-US") %>
    </span>
  </div>
  <%- include('./common/voter', { post, user }); %>
</div>

<h3 style="margin: 24px 32px">Comments</h3>

<% post.comments.forEach(comment => { %>
<div style="padding: 24px 32px; border-top: 1px solid rgba(255, 255, 255, 0.1)">
  <div><%= comment.description %></div>
  <div style="font-size: 14px; opacity: 0.7">
    <%=comment.creator.uname %> commentted on <%= new
    Date(comment.timestamp).toLocaleString("en-US") %>
  </div>
  <% }) %>
</div>
