<div class="post" style="padding: 16px 0; border-top: 1px solid rgba(255, 255, 255, 0.1)">
  <div>
    <a href="/posts/show/<%=post.id%>"> <%= post.title %> </a>
    <span style="padding: 0 24px; font-size: 24px">/</span>
    <span> <%= post.creator.uname %> </span>
  </div>
  <div style="opacity: 0.6"><%= post.description %></div>
  <voter
    :voted="<%=(user && post.votes.find(v => v.user_id === user.id))?.value || 0 %>"
    :votes="<%= post.votes.reduce((total, vote)=> vote.value + total ,0) %>"
    :user-id="<%=user?.id%>"
    :post-id="<%=post.id%>"
  />
</div>
